
.header  {
  height: 80px;
  background-color: #4B565E;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  align-items: center;
  font-size: 16px;
  color: #F9FAFB;
}

.header-left {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;

}
.header-logo {
  margin: 20px;
}

nav {
  display: flex;
}

.header-nav-item {
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right-logo {
 justify-content: flex-end;
}

.header-phone {
  margin-left: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.heart {
  margin-left: 40px;
}

.block {
  border: 1px solid #F0BA4E;
  border-radius: 50px;
  margin-left: 40px;
  padding: 1px 1px;
  align-items: center;
  display: flex;
  width: 106px;
  height: 48px;
  gap: 10px;
  justify-content: center;
}

.wrapper {
  height: 80px;
  background-color: #F0BA4E;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  align-items: center;
  font-size: 14px;
  color: #3C3C3B;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.wrapper-left {
  display: flex;
  align-items: center;
}

.wrapper-logo {
  margin: 10px;
  margin-left: 20px;
}

.wrapper-nav {
  display: flex;
}

.wrapper-nav-item {
  margin-right: 10px;
}

.wrapper-right {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.town {
  margin-left: 5px;
  color: #FFFFFF;
  gap: 6px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #3C3C3B;
  width: 400px;
  height: 28px;
  background-color: transparent;
}
