  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
   <div class="header">
     <div class="header-left">
     <div class="header-logo"><img src="/assets/logo.svg" alt="">
     </div>
       <nav>
         <div class="header-nav-item">Главная</div>
         <div class="header-nav-item">О компании</div>
         <div class="header-nav-item">Каталог</div>
       </nav>

    </div>
      <div class="header-right">
      <div class="header-right-logo"><img src="/src/assets/phone.svg" alt="">
      </div>
      <a class="header-phone">+7 (965) 084-29-29</a>
        <div class="heart">
          <img src="/assets/heart.svg" alt="">
        </div>
        <div class="block"><img src="/assets/box.svg" alt="">Пусто</div>
     </div>
   </div>
  <div class="wrapper">
    <div class="wrapper-left">
    <div class="wrapper-logo">
      <img src="/assets/menu.svg" alt="">
    </div>
      <div class="wrapper-nav">
        <div class="wrapper-nav-item">Каталог</div>
        <div class="wrapper-nav-item">Стройматериалы</div>
        <div class="wrapper-nav-item">Инструменты</div>
        <div class="wrapper-nav-item">Электрика</div>
        <div class="wrapper-nav-item">Интерьер и одежда</div>
      </div>
    </div>
      <div class="wrapper-right">
        <input type="text" class="input-with-icon" placeholder="Поиск,например Круг зачистной">
        <div><img src="/assets/map.svg" alt=""></div>
        <div class="town">Москва</div>

      </div>

  </div>

