@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header  {
  height: 80px;
  background-color: #4B565E;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #F9FAFB;
}
.header-left {
  display: flex;
  align-items: center;

}
.header-logo {
  margin: 20px;
}
nav {
  display: flex;
}
.header-nav-item {
  margin-right: 10px;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right-logo {
 justify-content: flex-end;
}
.header-phone {
  margin-left: 5px;
}
.heart {
  margin-left: 40px;
}
.block {
  border: 1px solid #F0BA4E;
  border-radius: 50px;
  margin-left: 40px;
  padding: 1px 1px;
  align-items: center;
  display: flex;
  width: 106px;
  height: 48px;
  gap: 10px;
  justify-content: center;
}
.wrapper {
  height: 80px;
  background-color: #F0BA4E;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #3C3C3B;
}
.wrapper-left {
  display: flex;
  align-items: center;
}
.wrapper-logo {
  margin: 10px;
  margin-left: 20px;
}
.wrapper-nav {
  display: flex;
}
.wrapper-nav-item {
  margin-right: 10px;
}
.wrapper-right {
  align-items: center;
  display: flex;
  font-size: 14px;
}
.town {
  margin-left: 5px;
  color: #FFFFFF;
  gap: 6px;
}
input[type=text] {
  border: none;
  border-bottom: 1px solid #3C3C3B;
  width: 400px;
  height: 28px;
  background-color: transparent;
}
