<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Строительный Магазин</title>
</head>
<body>
   <div class="header">
     <div class="header-left">
     <div class="header-logo"><img src="/assets/Logo.svg" alt="">
     </div>
       <nav>
         <div class="header-nav-item">Главная</div>
         <div class="header-nav-item">О компании</div>
         <div class="header-nav-item">Каталог</div>
       </nav>

    </div>
      <div class="header-right">
      <div class="header-right-logo"><img src="/assets/Phone.svg" alt="">
      </div>
      <div class="header-phone">+7 (965) 084-29-29</div>
        <div class="heart">
          <img src="/assets/heart.svg" alt="">
        </div>
        <div class="block"><img src="/assets/box.svg" alt="">Пусто</div>
     </div>
   </div>
  <div class="wrapper">
    <div class="wrapper-left">
    <div class="wrapper-logo">
      <img src="/assets/menu.svg" alt="">
    </div>
      <nav class="wrapper-nav">
        <div class="wrapper-nav-item">Каталог</div>
        <div class="wrapper-nav-item">Стройматериалы</div>
        <div class="wrapper-nav-item">Инструменты</div>
        <div class="wrapper-nav-item">Электрика</div>
        <div class="wrapper-nav-item">Интерьер и одежда</div>
      </nav>
    </div>
    <div class="wrapper-right">
      <input type="text" class="input-with-icon" placeholder="Поиск,например Круг зачистной">
      <div><img src="/assets/map.svg" alt=""></div>
      <div class="town">Москва</div>

    </div>

  </div>

</body>
</html>
